#root{
  height: 100vh;
}
.App {
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.backButtom{
  color: white;
  position: fixed;
  background-color:#056162 !important;
  bottom: 10px;
  width: 100%;
  right: 15px;
  border-radius: 25px;
  z-index: 1000;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.backButtom:hover{
  background-color:#044d4e !important;
}
.navLinks{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.navLinks *{
margin-top: 10px;
padding-left: 10px;
padding-right: 10px;
}
.emoji{
  display: block;
  font-size: 2.5em;
}
.btn-data{
 background: #056162 !important;
 color:white!important;
 font-weight: bolder!important;
 -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
 -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
 box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4)  ; 
}